
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,nav,form,fieldset,input,textarea,p,blockquote,th,td{
margin:0;padding:0;}
html,body{height:100%;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
strong{font-weight:bold!important;}
ol,ul,li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:1.5em;font-weight:normal;}
abbr,acronym{border:0;}
/*handcursoronclickableelements*/
.clickable,label,input[type=button],input[type=submit],button{cursor:pointer;}
/*Webkitbrowsersadda2pxmarginoutsidethechromeofformelements*/
button,input,select,textarea{margin:0;}.
/*makebuttonsplayniceinIE*/
button{width:auto;overflow:visible;}
/*scaleimagesinIE7moreattractively*/
.ie7img{-ms-interpolation-mode:bicubic;}
/*preventBGimageflickeruponhover*/
.ie6html{filter:expression(document.execCommand("BackgroundImageCache",false,true));}
/*welikeoff-blackfortext*/
body,select,input,textarea{color:#333;}
body {
background: none repeat scroll 0 0 #ffffff;
}

/***********************Everythingabovethiswascssreset**********************************/


/********************** FORM CONTROLS ****************************************/
.button{
	padding:0 20px;
	height:32px;
	line-height:32px;		
	border:1px solid #ffffff;
	background:#003886 url(../images/form2/form_button.gif) repeat-x;
	color:#fff;
	cursor:pointer;		
	text-align:center;		
	}				



/**************************************BODYANDMISCELLANEOUS***********************************/
body{
font-family:"TrebuchetMS",Area,Helvetica,sans-serif;
font-size:62.5%;
}
.message{
color:#FF3333;
font-size:3em;
border-bottom:4px #006883 solid;
}
#header{
height:150px;
}
#header span {
font-size:1.8em;
color:#ffffff;
}
#logo{
padding:15px;
display:inline-block;
}
#motto {
display:inline-block;
}
#loginWrapper{
padding-top:10px;
position:absolute;
right:0;
top:0;
text-align:right;
}
#loginWrapper div {
display:block;
}
#viewLogin {
padding-right:10px;
color:#ffffff;
cursor:pointer;
}
.uName {
padding-top:10px;
padding-right:15px;
}
#logout {
border-left:1px solid #ffffff;
padding-left:15px;
margin-right:20px;
}
#loginError span {
font-size:1.5em;
color:#FF3333 !important;
}

#form2{
	margin:1em 0;
	color:#fff;
	width:320px; /* customize width, this form have fluid layout */
	padding-right:25px;
	text-align:left !important;
	}
#form2 h3{
	margin:0;
	background:#000000 url(../images/form2/form_heading.gif) repeat-x;		
	color:#fff;
	font-size:20px;
	border:1px solid #000000;
	border-bottom:none;
	}		
#form2 h3 span{
	display:block;
	padding:10px 20px;
	background:url(../images/form2/form_ico.gif) no-repeat 93% 50%;			
	}				
#form2 fieldset{
	margin:0;
	padding:0;
	border:none;	
	border-top:3px solid #000;
	background:#000 url(../images/form2/form_top.gif) repeat-x;		
	padding-bottom:1em;
	}		

.addEvent p{
color:#fff;
}
#addEvent {
display:none;
}
#addEventTitle {
cursor:pointer;
}
#addEventTitle span {
    float:right;
}
#addEventTitle span img {
width:16px;
}

#form2 legend{display:none;}	
#form2 p{margin:.5em 20px;}	
#form2 label{display:block;}	
#form2 input, #form2 textarea{		
	width:272px;
	border:1px solid #111;
	background:#282828 url(../images/form2/form_input.gif) repeat-x;
	padding:5px 3px;
	color:#fff;
	}		
input, textarea {		
	border:1px solid #111;
	background:#282828 url(../images/form2/form_input.gif) repeat-x;
	padding:5px 3px;
	color:#fff;
	}		

#form2 textarea{
	height:125px;
	overflow:auto;
	}					
#form2 p.submit{
	text-align:right;
	}	
#form2 button{
	padding:0 20px;
	height:32px;
	line-height:32px;		
	border:1px solid #ffffff;
	background:#003886 url(../images/form2/form_button.gif) repeat-x;
	color:#fff;
	cursor:pointer;		
	text-align:center;		
	}				

#sliderWrap {
    position:absolute;
    left:50%;
    margin-left:-400px;
}
/************************** HOME PAGE **************************************/
.welcome {
text-align:center;
}
/*************************** HEADINGS AND TITLES **************************************/
.heading {
font-size:30px;
line-height:1;
margin-bottom:25px;
margin-top:10px;
}
/*************************** GLOBALS *******************************/
.cB {
background: url("../Photos/bg_header.gif") repeat-x scroll left top #003886;
}

.rB {
-moz-border-radius:10px 10px 10px 0px;
-webkit-border-radius: 10px 10px 10px 0px;
border-radius:10px 10px 10px 0px;                                                                                        
-khtml-border-radius:10px 10px 10px 0px; 
}

.bB {
border-bottom:4px #8b8b8b solid;
}

/**************************** STUDENTPROFILE BEGIN *************************************/
#studentProfile {
position:relative;
left:20%;
width:60%;
font-size:1.5em;
}
.seCon {
padding:10px 10px 5px 10px;
color:#fff !important;
}
.suEvent {
padding-bottom:5px;
margin-bottom:15px;
border-bottom:2px #003886 dashed;
}


/************************** ORGANIZATION PAGE ****************************************/
#oAddEvent {
width:95%;
border-top:none;
padding:0 20px 0 10px;
}
#oAddEvent textarea {
width:100%;
}
#oAddEvent fieldset p {
font-size:1.5em;
}
#oAddEvent input {
width:100%;
display:inline-block;
}

/************************** event ********************************************/
.calEvent {
color:#ffffff;
margin-bottom:15px;
padding-top:5px;
padding-bottom:5px;
}
.eventLeft {
text-align:center;
}
.eventRight {
text-align:center;
}
.eventRight p {
}

.statusCon div{
display:inline-block;
}
.statusCon span {
margin-right:5px;
margin-left:5px;
font-size:1.3em;
}
.statusCon {
text-align:center;
margin-bottom:25px;
}
.eventCon {
}
.event {
color:#fff;
margin-left:2.5%;
margin-right:2.5%;
width:95%;
border:2px #003886 solid;
padding-bottom:10px;
margin-bottom:20px;
padding-top:3px;
-moz-border-radius:10px 10px 10px 0px;
-webkit-border-radius: 10px 10px 10px 0px;
border-radius:10px 10px 10px 0px;                                                                                        
-khtml-border-radius:10px 10px 10px 0px; 

}
.event div {
display:inline-block;
}
.eApp {
width:15%;
text-align:center;
}
.eApp p {
line-height:1;
}
.eStatus {
font-size:1.2em;
margin-bottom:10px;
}
.totalVol {
line-height:1 !important;
font-size:4em !important;
}
.volInfo {
font-size:1.6em;
margin-bottom:7px;
}
.status {
margin-left:auto;
margin-right:auto;
width:20px;
height:20px;
}
.appColor {
background-color:green;
}
.wAppColor {
background-color:#006883;
}
.unAppColor {
background-color:red;
}
.eLeft {
width:61%;
}
.eLeft p {
line-height:1;
}
.eRight {
width:20%;
text-align:center;
}
.eRight p {
line-height:1;
}
.eName {
font-size:1.8em;
}
.oName {
font-size:1.2em;
}
.eDesc {
color:#000;
font-size:1.2em;
background-color:#fff;
padding:3px 0 3px 3px;
margin-top:5px;
margin-bottom:5px;
-moz-border-radius:10px 10px 10px 0px;
-webkit-border-radius: 10px 10px 10px 0px;
border-radius:10px 10px 10px 0px;                                                                                        
-khtml-border-radius:10px 10px 10px 0px; 

}


.dateIcon {
text-align:center;
width: 100%; height: auto;
background: #fcfcfc; 
background: linear-gradient(top, #fcfcfc 0%,#dad8d8 100%); 
background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%); 
background: -webkit-linear-gradient(top, #fcfcfc 0%,#dad8d8 100%); 
border: 1px solid #d2d2d2;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.dateIcon p.dDay {
font-family: Helvetica, sans-serif;
font-size: 64px; text-align: center; color: #9e9e9e; 
line-height:1;
}
.dateIcon p.dTime {
font-size: 16px;
color: #9e9e9e; 
}
.dateIcon p.dBreak {
font-size: 20px;
line-height:.5;
color: #9e9e9e; 
}

.dateIcon p.dMonth {

background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top, #4c4c4c 0%, #000000 0%, #474747 1%, #595959 1%, #666666 8%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(0%,#000000), color-stop(1%,#474747), color-stop(1%,#595959), color-stop(8%,#666666), color-stop(60%,#111111), color-stop(76%,#2b2b2b), color-stop(91%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #4c4c4c 0%,#000000 0%,#474747 1%,#595959 1%,#666666 8%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #4c4c4c 0%,#000000 0%,#474747 1%,#595959 1%,#666666 8%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #4c4c4c 0%,#000000 0%,#474747 1%,#595959 1%,#666666 8%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* IE10+ */
background: linear-gradient(to bottom, #4c4c4c 0%,#000000 0%,#474747 1%,#595959 1%,#666666 8%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
/*background: #d10000; 
background: linear-gradient(top, #4c4c4c 0%, #595959 12%);
background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%);
background: -webkit-linear-gradient(top, #d10000 0%, #7a0909 100%);
*/
font-size: 28.8px; font-weight: bold; color: #fff; text-transform: uppercase;     
display: block;
border-top: 3px solid #333;
border-radius: 0 0 10px 10px;
-moz-border-radius: 0 0 10px 10px;
-webkit-border-radius: 0 0 10px 10px;
padding: 6px 0 6px 0;
}







.weekDay {
font-size:24px;
line-height:24px;
}
.dayDate {
font-size:32px;
line-height:32px;
}
.month {
font-size:16px;
}
.year {
font-size:12px;
}



/*****************BEGIN SINGLE EVENT PAGE CSS****/
#sEventVol {
padding-top:15px;
padding-bottom:15px;
text-align:center;
font-size:32px;
line-height:32px;
}
#sOrgImg {
text-align:center;
}
#sOrgImg img {
width:150px;
}
#sEventImg {
width:250px;
}

#googleMap {
height:250px;
width:250px;
}

/************************** COMMENTS START **************************/

.cLeft {
float:left;
width:3%;
}
.cRight {
float:left;
width:96%;
}
.cRight div{
margin-left:10px;
}
.commentReplyButton{
clear:both;
display:block;
margin-bottom:10px;
color:#336699;
font-size:1.8em;
font-family: 'Book Antiqua', 'Palatino Linotype', Palatino, serif;
}

#commentsContainer{
    margin-left:10%;
    margin-right:10%;
}
.cWrap{
padding:5px;
}
.cHeader{
color:#336699;
font-size:1.7em;
font-family: 'Book Antiqua', 'Palatino Linotype', Palatino, serif;
padding-top:3px;
}
.cHeader a { color:#333333; }
.cHeader { color:#333333; }
.cVotes { color:#333333; }
.cHHleft { 
margin-left:3%;
}
.cNumVotes { color:#660066; }

.discComment{
font-size:1.4em;
display:block;
}
#discComReply span {
font-size:.8em!important;
color:#333333;
margin-left:10px;
}
.arrows{
float:left;
margin-left:3px;   
}

.cParent{
margin-bottom:15px;
border:2px solid #333333;
border-bottom-right-radius: 9px;
border-top-left-radius:9px;
padding-bottom:5px;
background-color:#ffffff;
min-height: 18px;
}

.cChild{
border:1px solid #333333;    
border-bottom-right-radius: 9px;
border-top-left-radius:9px;
margin-left:25px;
margin-top:5px;
padding-bottom:5px;
min-height: 18px;
}

.even{    
background-color:#ffffff;
}

.odd{    
background-color:#cccccc;
}
.view {
margin-left:5px;
cursor:pointer;
}
.replyButton{
cursor:pointer;
}
.replyForm{
padding-left:30px;
}
/************************** COMMENTS END **************************/


